.add-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-input-container {
    width: 92%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    height: 85vh;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.144);
}


.order-input-container input,
.order-input-container select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    outline: none;
    height: 50px;
    font-size: 20px;
}

.order-input-container P {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
}

.order-selects {
    margin-top: 20px;
}

.order-selects select {
    margin-right: 20px;
}

.infos-orderadd {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.infos-orderadd p {
    margin: 10px 0;
}

.info-client-orderadd {
    width: 30%;
}

.info-books-orderadd {
    margin-top: 30px;
    margin-left: 100px;
}


#client-name-order {
    font-size: 35px;
    font-weight: 500;
}

.cardBookOrderConteiner {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.CardBookOrderTitle {
    width: 550px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.CardBookOrderTitle p {
    margin: 0;

}

#bookQuantity {
    width: 50px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
    border-radius: 0;
    border-left: none;
}

#QuantityIncrement {
    width: 30px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
    border-left: none;
    color: rgb(187, 187, 187);
    font-size: 25px;
    font-weight: lighter;
    cursor: pointer;
}

#QuantityDecreases {
    width: 30px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 5px 5px 0;
    border-left: none;
    color: rgb(187, 187, 187);
    font-size: 25px;
    font-weight: lighter;
    cursor: pointer;
}

.btn-order-container {
    margin-top: 200px;
}

#submit-order-btn {
    background-color: #ffffff;
    outline: none;
    border: 1px solid #181818;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: 0.2s;
}

#submit-order-btn:hover {
    background-color: #1b3449 ;
    border: 1px solid #F3F3F3;
    color: white;
}
