.add-order-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-input-container{
    width: 92%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    height: 85vh;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.144);
}


.order-input-container input,
.order-input-container select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    outline: none;
    height: 50px;
    font-size: 20px;
}

.order-input-container P {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
}

.order-selects{
    margin-top: 20px;
}

.order-selects select{
    margin-right: 20px;
}

.infos-orderadd{
    margin-top: 30px;
}

.infos-orderadd p{
    margin: 10px 0;
}

#client-name-order{
    font-size: 35px;
    font-weight: 500;
}


