.order-card-container{
    display: flex;
    align-items: center;
    width: 1367px;
    height: 80px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 3.5px 0;
    box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.144);
}

.orders-properties-container{
    width: 1385px;
    height: 30px;
    background-color: #176B87;
    border-right: 1px solid #053B50;
    border-left: 1px solid #053B50;
    border-top: 1px solid #053B50;
    display: flex;
    align-items: center;
}

.order-properties{
    height: 100%;
    border-right: 1px solid rgb(190, 190, 190);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dateOrder-property{
    padding: 0 60px;
} 

#nameOrder-property{
    padding: 0 123px;
}

#numberOrder-property{
    padding: 0 78px;
}

#booksOrder-property{
    padding: 0 125px;
}

#valueOrder-property{
    padding: 0 48px;
}

#paymentOrder-property{
    padding: 0 80px;
    border-right: none;
}


.order-card-container p{
    font-weight: 400;
}

.cardO-date{
    width: 130px;
    display: flex;
    justify-content: center;
}

.cardO-name{
    width: 300px;
    display: flex;
    justify-content: center;
}

.cardO-number{
    width: 200px;
    display: flex;
    justify-content: center;
}

.cardO-books{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardO-state{
    width: 250px;
    display: flex;
    justify-content: center;
}

.cardO-books p{
    margin: 0;
}

.cardO-price{
    width: 150px;
    display: flex;
    justify-content: center;
}