.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 140px;
    border-radius: 8px;
    box-shadow: rgba(122, 122, 122, 0.2) 0px 7px 29px 0px ;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}

.card h2{
    color: rgb(26, 78, 78);
    margin: 0;
    
}

.card #author{
    margin: -5px 0 40px 0;
}

.card > .image-container {
    width: 92px;
    height: 138px;
    background-color: rgb(168, 168, 168);

}

.card > .data-container{
    margin: 0 0 0 15px;
    width: 70%;
}