.edit-overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.add-container-edit{
    display: flex;
    width: 100vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.input-container{
    background-color: #F3F3F3;
    width: 600px;
    height: 680px;
    box-sizing: border-box;
    padding: 20px 70px;
    border-radius: 20px;
    
}

.input-container > h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

.input-container >input {
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    border: 1px solid rgb(107, 165, 216);
    color: black;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.input-container > select{
    background-color: #fff;
    outline: none;
    border: 1px solid #6ba5d8;
    color: black;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.btn-submit{
    background-color: #1b3449 ;
    outline: none;
    border: #F3F3F3;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 40px;

    font-size: 20px;
    cursor: pointer;
    
}

.btn-edit{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: -15px;
    
}

.close-edit{
    background-color: rgb(163, 163, 163);
    font-weight: bold;
    border-radius: 5px;
    width: 35px;
    height: 30px;
    margin: -8px -58px 0 0;
    cursor: pointer;
    border: none;
}

.close-edit:hover{
    background-color: rgb(197, 66, 66);
}

