.onlineCat-body-container{
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.catalog-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

.catalog-title{
    margin-left: 100px;
}

.catalog-title h1{
    color: #0b3844;
}

.catalog-searchbar{
    margin-left: 100px;
}

#search-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border: none;
    background-color: rgb(61, 134, 182);
    font-size: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
