.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1367px;
    height: 110px;
    border-radius: 2px;
    border: 1px solid rgb(173, 173, 173);
   
    margin: 5px 0px 2px 0px;
    padding: 10px 10px 10px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(243, 243, 243);
    
    
}

.card span{
    height: 80px;
}

.card > .image-container {
    width: 77px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
    border: none;

}

.card > .image-container > img {
    width: 100%;
    height: 100%;
} 

.card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 237px;
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
}

.card-author{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    border-right: 1px solid rgb(209, 209, 209);
}

.card-condition{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    border-right: 1px solid rgb(209, 209, 209);
}

.card-category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-right: 1px solid rgb(209, 209, 209);
}

.card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    border-right: 1px solid rgb(209, 209, 209);
}

.card-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    border-right: 0;
}

.card #author, #category, #condition{
    color: rgb(32, 32, 32);
}

.card > .data-container{
    margin: 0 0 0 15px;
    width: 70%;
}

.card #price, #quantity{
    font-size: 25px;
    color: rgb(32, 32, 32);
}

.card #zeroQtd{
    font-size: 25px;
    color: rgb(255, 0, 0);
}