.book-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.books-properties-container{
    width: 92%;
    height: 30px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(190, 190, 190);
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.book-properties{
    height: 100%;
    border-right: 1px solid rgb(190, 190, 190);
    color: rgb(126, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-property{
    padding: 0 50px;
} 

#title-property{
    padding: 0 100px;
}

#author-property{
    padding: 0 100px;
}

#category-property{
    padding: 0 100px;
}

#price-property{
    padding: 0 40px;
}

#quantity-property{
    padding: 0 30px;
    border-right: none;
}

#condition-property{
    padding: 0 100px;
}

.card-grid {
    display: flex;
    margin-left: 100px;
    align-items: center;
    flex-wrap: wrap;

}

.search {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 10px 0 50px 0;
}

.books-title{
    display: flex;
    margin-left: 100px;
}

.books-title h1{
    color: rgb(31, 75, 92);
}

.search>h1 {
    margin: 0 20px 0 20px; 
}
