.body-container{
    background-color: rgb(247, 247, 247);
    height: 100vh;
}

.book-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

.books-searchbar{
    margin-left: 100px;
}

.books-properties-container{
    width: 92%;
    height: 30px;
    background-color: #176B87;
    border-right: 1px solid #053B50;
    border-left: 1px solid #053B50;
    border-top: 1px solid #053B50;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.book-properties{
    height: 100%;
    border-right: 1px solid rgb(190, 190, 190);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-property{
    padding: 0 50px;
} 

#title-property{
    padding: 0 100px;
}

#author-property{
    padding: 0 100px;
}

#category-property{
    padding: 0 100px;
}

#price-property{
    padding: 0 40px;
}

#quantity-property{
    padding: 0 30px;
    border-right: none;
}

#condition-property{
    padding: 0 100px;
}

.card-grid {
    display: flex;
    margin-left: 100px;
    align-items: center;
    flex-wrap: wrap;

}

.search {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 10px 0 50px 0;
}

.books-title{
    display: flex;
    margin-left: 100px;
}

.books-title h1{
    color: #0b3844;
}

.search>h1 {
    margin: 0 20px 0 20px; 
}
