.book-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}