.add-title h1 {
    color: #0b3844;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: -30px;
}

.add-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 65px;
    padding-left: 50px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
    border-radius: 15px 0 0 15px;
}

.input-container {
    width: 92%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    height: 85vh;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.144);
}

.input-container input,
.input-container select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    outline: none;
    height: 50px;
    font-size: 20px;
}

.input-container P {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
}

.span-add-title {
    width: 45%;
    height: 100px;
    border: none;


}

.span-add-author {
    width: 45%;
    height: 100px;
    margin-left: -190px;
}

.span-add-condition {
    width: 22%;
    height: 100px;
    margin-left: 2px;
    margin-right: 75px;

}

.span-add-category {
    width: 45%;
    height: 100px;

}

.span-add-price {
    width: 25%;
    height: 100px;
    margin-left: -94px;
}

.span-add-img {
    width: 45%;
    height: 100px;
    margin-left: -190px;
}



.span-add-quantity {
    width: 25%;
    height: 100px;
}

.span-add-btn {
    width: 100%;
    margin-bottom: -40px;
    margin-left: 75px;

}

.input-container section {
    display: flex;
    width: 95%;
    justify-content: flex-start;
    padding-left: 80px;

}

#input-title,
#input-author,
#input-price,
#input-img,
#input-category,
#input-quantity {
    width: 90%;
}

#input-condition {
    width: 81.5%;
}

.btn-submit {
    background-color: #ffffff;
    outline: none;
    border: 1px solid #181818;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: 0.2s;
}

.btn-submit:hover{
    background-color: #1b3449 ;
    border: 1px solid #F3F3F3;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder {
    color: rgb(68, 68, 68);
}